## Pandas Project

# Step 0 : Importing libraries and dataset

In [1]:
# Import 2 libraries
import pandas as pd 
import numpy as np

In [2]:
# Import our dataset
data = pd.read_csv('./heart.csv')

# Step 1 : Understand Info contained in Data & Examinine Data for Potential Issues

In [3]:
display(data.head())

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [5]:
data.shape

(303, 14)

In [6]:
data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

# Step 2 : Cleaning Data

### Missing Values

In [7]:
# Find how prevalent missing values are in our data 
null_cols = data.isnull().sum()
null_cols[null_cols > 0]
null_cols

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### Incorrect Values

In [8]:
# Find any incorrect data-type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [9]:
# All values seem correct
# Investigate why oldpeak is float64
print(data["oldpeak"])

0      2.3
1      3.5
2      1.4
3      0.8
4      0.6
5      0.4
6      1.3
7      0.0
8      0.5
9      1.6
10     1.2
11     0.2
12     0.6
13     1.8
14     1.0
15     1.6
16     0.0
17     2.6
18     1.5
19     1.8
20     0.5
21     0.4
22     0.0
23     1.0
24     1.4
25     0.4
26     1.6
27     0.6
28     0.8
29     1.2
      ...
273    0.1
274    1.0
275    1.0
276    2.0
277    0.3
278    0.0
279    3.6
280    1.8
281    1.0
282    2.2
283    0.0
284    1.9
285    1.8
286    0.8
287    0.0
288    3.0
289    2.0
290    0.0
291    4.4
292    2.8
293    0.8
294    2.8
295    4.0
296    0.0
297    1.0
298    0.2
299    1.2
300    3.4
301    1.2
302    0.0
Name: oldpeak, Length: 303, dtype: float64

In [10]:
# Makes sense after seing printed output since heart rate is very sensitive and even decimal places matters. This ST depression induced by exercise relative to rest.

### Low Variance Columns

In [11]:
low_variance = []

for col in data._get_numeric_data():
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)

[]

### Outliers -> Percentiles

In [12]:
#Find what cols still have low variance (though not as low as before)

low_variance2 = []

for col in data._get_numeric_data():
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 85)
    if ninety_perc == minimum:
        low_variance2.append(col)

print(low_variance2)

['fbs']

In [13]:
# Do research understand if "fbs" is outlier or not
# 1) What is Fbs?  A test to determine how much glucose (sugar) is in a blood sample after an overnight fast. The fasting blood glucose test is commonly used to detect diabetes mellitus. A blood sample is taken in a lab, physician's office, or hospital. The test is done in the morning, before the person has eaten. 
# 2) What is a normal Fbs? The US Federal Drug Administration allows home glucose monitors to have a variance of 15% in results. That means a reading of 100 mg/dl might actually be as low as 85 mg/dl or as high as 115, a huge variation
# Conc) Maintain column since variance is accepted in general health guidelines.

### Extreme Values -> IQR

In [14]:
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
age,303.0,54.366337,9.082101,29.0,47.5,55.0,61.0,77.0,13.5
sex,303.0,0.683168,0.466011,0.0,0.0,1.0,1.0,1.0,1.0
cp,303.0,0.966997,1.032052,0.0,0.0,1.0,2.0,3.0,2.0
trestbps,303.0,131.623762,17.538143,94.0,120.0,130.0,140.0,200.0,20.0
chol,303.0,246.264026,51.830751,126.0,211.0,240.0,274.5,564.0,63.5
fbs,303.0,0.148515,0.356198,0.0,0.0,0.0,0.0,1.0,0.0
restecg,303.0,0.528053,0.525860,0.0,0.0,1.0,1.0,2.0,1.0
thalach,303.0,149.646865,22.905161,71.0,133.5,153.0,166.0,202.0,32.5
exang,303.0,0.326733,0.469794,0.0,0.0,0.0,1.0,1.0,1.0
oldpeak,303.0,1.039604,1.161075,0.0,0.0,0.8,1.6,6.2,1.6
slope,303.0,1.399340,0.616226,0.0,1.0,1.0,2.0,2.0,1.0
ca,303.0,0.729373,1.022606,0.0,0.0,0.0,1.0,4.0,1.0
thal,303.0,2.313531,0.612277,0.0,2.0,2.0,3.0,3.0,1.0
target,303.0,0.544554,0.498835,0.0,0.0,1.0,1.0,1.0,1.0

In [15]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 3
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    
outliers

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Outlier,age,ca,chol,cp,exang,fbs,oldpeak,restecg,sex,slope,target,thal,thalach,trestbps
85,chol,67,0,564,2,0,0,1.6,0,0,1,1,3,160,115
0,fbs,63,0,233,3,0,1,2.3,0,1,0,1,1,150,145
8,fbs,52,0,199,2,0,1,0.5,1,1,2,1,3,162,172
14,fbs,58,0,283,3,0,1,1.0,0,0,2,1,2,162,150
23,fbs,61,0,243,2,1,1,1.0,1,1,1,1,2,137,150
26,fbs,59,0,212,2,0,1,1.6,1,1,2,1,2,157,150
28,fbs,65,1,417,2,0,1,0.8,0,0,2,1,2,157,140
29,fbs,53,0,197,2,0,1,1.2,0,1,0,1,2,152,130
36,fbs,54,0,304,2,0,1,0.0,1,0,2,1,2,170,135
60,fbs,71,1,265,2,0,1,0.0,0,0,2,1,2,130,110
64,fbs,58,0,211,2,0,1,0.0,0,1,2,1,2,165,140
76,fbs,51,0,245,2,0,1,2.4,0,1,1,1,2,166,125
78,fbs,52,0,205,1,0,1,0.0,1,1,2,1,2,184,128
83,fbs,52,0,298,3,0,1,1.2,1,1,1,1,3,178,152
87,fbs,46,0,197,1,0,1,0.0,1,1,2,1,3,156,101
90,fbs,48,2,255,2,0,1,0.0,1,1,2,1,2,175,124
93,fbs,54,1,288,1,1,1,0.0,0,0,2,1,2,159,132
97,fbs,52,3,233,0,0,1,0.1,1,1,2,1,3,147,108
99,fbs,53,3,246,2,0,1,0.0,0,1,2,1,2,173,130
103,fbs,42,0,240,2,0,1,0.8,1,1,0,1,3,194,120
106,fbs,69,1,234,3,0,1,0.1,0,1,1,1,2,131,160
111,fbs,57,1,126,2,0,1,0.2,1,1,2,1,3,173,150
136,fbs,60,0,178,2,0,1,0.0,1,0,2,1,2,96,120
137,fbs,62,0,208,1,0,1,0.0,0,1,2,1,2,140,128
169,fbs,53,0,203,0,1,1,3.1,0,1,0,0,3,155,140
170,fbs,56,1,256,2,1,1,0.6,0,1,1,0,1,142,130
176,fbs,60,2,230,0,1,1,1.4,1,1,2,0,3,160,117
197,fbs,67,2,254,0,0,1,0.2,1,1,1,0,3,163,125
203,fbs,68,0,274,2,1,1,1.6,0,1,1,0,3,150,180
214,fbs,56,1,249,0,1,1,1.2,0,1,1,0,2,144,125
215,fbs,43,0,341,0,1,1,3.0,0,0,1,0,3,136,132
217,fbs,63,3,330,0,1,1,1.8,0,1,2,0,3,132,130
219,fbs,48,2,256,0,1,1,0.0,0,1,2,0,3,150,130
222,fbs,65,1,282,3,0,1,1.4,0,1,1,0,2,174,138
223,fbs,56,2,288,0,1,1,4.0,0,0,0,0,3,133,200
231,fbs,57,3,289,0,0,1,1.0,0,1,1,0,3,124,165
251,fbs,43,4,247,0,1,1,0.1,0,1,1,0,3,143,132
252,fbs,62,3,294,0,0,1,1.9,1,0,1,0,2,106,138
260,fbs,66,2,228,0,1,1,1.0,1,0,1,0,3,165,178
269,fbs,56,0,283,0,1,1,1.6,0,1,0,0,3,103,130
278,fbs,58,2,319,1,0,1,0.0,0,0,2,0,2,152,136
281,fbs,52,0,204,0,1,1,1.0,1,1,1,0,0,156,128
282,fbs,59,1,218,2,0,1,2.2,1,1,1,0,1,134,126
292,fbs,58,2,225,0,1,1,2.8,0,0,1,0,1,146,170
297,fbs,59,2,176,0,0,1,1.0,0,1,1,0,1,90,164
300,fbs,68,2,193,0,0,1,3.4,1,1,1,0,3,141,144

In [16]:
#all but one value in outliers is fbs. Fbs stands for fasting blood sugar and data being very dispersed is normal, so we will only focus on understanding the other outlier.

In [17]:
#outlier with value col has maximum level of serum cholestoral in mg/dl in the whole dataset. It exceeds the mean (246) and distorts the data.

In [34]:
data = data.drop(index = 85)
data

,chest pain type (4 values),age in years,sex (1 = male; 0 = female),resting blood pressure,number of major vessels,exercise induced angina,oldpeak,slope of the peak,thal,target
0,3,63,1,145,0,0,2.3,0,1,1
1,2,37,1,130,0,0,3.5,0,2,1
2,1,41,0,130,0,0,1.4,2,2,1
3,1,56,1,120,0,0,0.8,2,2,1
4,0,57,0,120,0,1,0.6,2,2,1
5,0,57,1,140,0,0,0.4,1,1,1
6,1,56,0,140,0,0,1.3,1,2,1
7,1,44,1,120,0,0,0.0,2,3,1
8,2,52,1,172,0,0,0.5,2,3,1
9,2,57,1,150,0,0,1.6,2,2,1
10,0,54,1,140,0,0,1.2,2,2,1
11,2,48,0,130,0,0,0.2,2,2,1
12,1,49,1,130,0,0,0.6,2,2,1
13,3,64,1,110,0,1,1.8,1,2,1
14,3,58,0,150,0,0,1.0,2,2,1
15,2,50,0,120,0,0,1.6,1,2,1
16,2,58,0,120,0,0,0.0,2,2,1
17,3,66,0,150,0,0,2.6,0,2,1
18,0,43,1,150,0,0,1.5,2,2,1
19,3,69,0,140,2,0,1.8,2,2,1
20,0,59,1,135,0,0,0.5,1,3,1
21,2,44,1,130,0,1,0.4,2,2,1
22,0,42,1,140,0,0,0.0,2,2,1
23,2,61,1,150,0,1,1.0,1,2,1
24,3,40,1,140,0,1,1.4,2,3,1
25,1,71,0,160,2,0,0.4,2,2,1
26,2,59,1,150,0,0,1.6,2,2,1
27,2,51,1,110,0,0,0.6,2,2,1
28,2,65,0,140,1,0,0.8,2,2,1
29,2,53,1,130,0,0,1.2,0,2,1
...,...,...,...,...,...,...,...,...,...,...
273,0,58,1,100,1,0,0.1,2,3,0
274,0,47,1,110,1,1,1.0,1,2,0
275,0,52,1,125,2,0,1.0,2,3,0
276,0,58,1,146,1,0,2.0,1,3,0
277,1,57,1,124,0,0,0.3,2,3,0
278,1,58,0,136,2,0,0.0,2,2,0
279,0,61,1,138,1,1,3.6,1,2,0
280,0,42,1,136,0,1,1.8,1,1,0
281,0,52,1,128,0,1,1.0,1,0,0
282,2,59,1,126,1,0,2.2,1,1,0
283,0,40,1,152,0,0,0.0,2,3,0
284,0,61,1,140,1,1,1.9,2,3,0
285,0,46,1,140,2,1,1.8,1,3,0
286,3,59,1,134,2,0,0.8,2,2,0
287,1,57,1,154,1,0,0.0,2,2,0
288,0,57,1,110,1,1,3.0,1,3,0
289,0,55,0,128,1,1,2.0,1,3,0
290,0,61,1,148,1,0,0.0,2,3,0
291,0,58,1,114,3,0,4.4,0,1,0
292,0,58,0,170,2,1,2.8,1,1,0
293,2,67,1,152,0,0,0.8,1,3,0
294,0,44,1,120,0,1,2.8,0,1,0
295,0,63,1,140,2,1,4.0,2,3,0
296,0,63,0,124,0,1,0.0,1,2,0
297,0,59,1,164,2,0,1.0,1,1,0
298,0,57,0,140,0,1,0.2,1,3,0
299,3,45,1,110,0,0,1.2,1,3,0
300,0,68,1,144,2,0,3.4,1,3,0
301,0,57,1,130,1,1,1.2,1,3,0
302,1,57,0,130,1,0,0.0,1,2,0

### Finding and Removing Duplicates

In [26]:
before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

# Step 3 : Manipulating Data

### Renaming Columns

In [19]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [20]:
data.columns = ['age in years', 'sex (1 = male; 0 = female)', 'chest pain type (4 values)', 'resting blood pressure ', 'chol', 'fasting blood sugar', 'restecg', 'maximum heart rate achieved',
       'exercise induced angina', 'oldpeak', 'slope of the peak', 'number of major vessels', 'thal', 'target']


data.columns

Index(['age in years', 'sex (1 = male; 0 = female)',
       'chest pain type (4 values)', 'resting blood pressure ', 'chol',
       'fasting blood sugar', 'restecg', 'maximum heart rate achieved',
       'exercise induced angina', 'oldpeak', 'slope of the peak',
       'number of major vessels', 'thal', 'target'],
      dtype='object')

### Changing Column Order

In [21]:
#The "goal" field refers to the presence of heart disease in the patient. It is integer valued from 0 (no presence) to 4. The rest in logical order preferred.

column_order = ['chest pain type (4 values)','age in years', 'sex (1 = male; 0 = female)', 'resting blood pressure ','number of major vessels','exercise induced angina', 'oldpeak', 'slope of the peak','thal', 'target'] 
                

data = data[column_order]
data.head()

,chest pain type (4 values),age in years,sex (1 = male; 0 = female),resting blood pressure,number of major vessels,exercise induced angina,oldpeak,slope of the peak,thal,target
0,3,63,1,145,0,0,2.3,0,1,1
1,2,37,1,130,0,0,3.5,0,2,1
2,1,41,0,130,0,0,1.4,2,2,1
3,1,56,1,120,0,0,0.8,2,2,1
4,0,57,0,120,0,1,0.6,2,2,1

### Binning Numeric Variables

In [22]:
mpg_labels = ['Low', 'Moderate', 'High', 'Very High']
bins = pd.cut(data['chest pain type (4 values)'],4, labels=mpg_labels)
bins.head(10)

0    Very High
1         High
2     Moderate
3     Moderate
4          Low
5          Low
6     Moderate
7     Moderate
8         High
9         High
Name: chest pain type (4 values), dtype: category
Categories (4, object): [Low < Moderate < High < Very High]

In [23]:
mpg_labels2 = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
bins2 = pd.cut(data['oldpeak'],5, labels=mpg_labels2)
bins2.head(10)

0         Low
1    Moderate
2         Low
3    Very Low
4    Very Low
5    Very Low
6         Low
7    Very Low
8    Very Low
9         Low
Name: oldpeak, dtype: category
Categories (5, object): [Very Low < Low < Moderate < High < Very High]

In [24]:
mpg_labels3 = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
bins3 = pd.cut(data['resting blood pressure '],5, labels=mpg_labels3)
bins3.head(10)

0    Moderate
1         Low
2         Low
3         Low
4         Low
5    Moderate
6    Moderate
7         Low
8        High
9    Moderate
Name: resting blood pressure , dtype: category
Categories (5, object): [Very Low < Low < Moderate < High < Very High]

In [35]:
data.head()

,chest pain type (4 values),age in years,sex (1 = male; 0 = female),resting blood pressure,number of major vessels,exercise induced angina,oldpeak,slope of the peak,thal,target
0,3,63,1,145,0,0,2.3,0,1,1
1,2,37,1,130,0,0,3.5,0,2,1
2,1,41,0,130,0,0,1.4,2,2,1
3,1,56,1,120,0,0,0.8,2,2,1
4,0,57,0,120,0,1,0.6,2,2,1

# Step 4 : Export clean CSV version of data

In [36]:
data.to_csv('./heart.csv', index=False)