# SUPERVISED-LEARNING-PROJECT

## Training of neural networks for automated diagnosis of pigmented skin lesions

In [7]:
# Import your libraries:

%matplotlib inline

import numpy as np
import pandas as pd

## Explore The Dataset

In [2]:
data = pd.read_csv('./HAM10000_metadata.csv')

In [3]:
# What the dataset looks like?
data.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [4]:
data.describe()

               age
count  9958.000000
mean     51.863828
std      16.968614
min       0.000000
25%      40.000000
50%      50.000000
75%      65.000000
max      85.000000

In [5]:
# What are the data types?
data.dtypes

lesion_id        object
image_id         object
dx               object
dx_type          object
age             float64
sex              object
localization     object
dtype: object

## Clean data

In [9]:
data.isna().sum()

lesion_id        0
image_id         0
dx               0
dx_type          0
age             57
sex              0
localization     0
dtype: int64

In [10]:
data.shape

(10015, 7)

In [11]:
data.dropna(how='any',axis=0,inplace=True)

In [12]:
data.isna().sum()

lesion_id       0
image_id        0
dx              0
dx_type         0
age             0
sex             0
localization    0
dtype: int64

## Model

In [ ]:
# Drop outliers (more than 1M$)
# Remove null data

# Create derived feature (duration)
df['launched_date'] = pd.to_datetime(df.launched)
df['deadline_date'] = pd.to_datetime(df.deadline)
df['duration'] = (df.deadline_date - df.launched_date).dt.days

# Keep only past projects and remove active projects and undefined ones
valid_states = ['failed','successful','canceled','suspended']
df = df[df.state.isin(valid_states)]

# Dataset ready to train
X_nodummies = df[['usd_goal_real', 'backers', 'main_category', 'duration', 'currency']]

display(df.state.value_counts())

X = pd.get_dummies(data=X_nodummies,drop_first=True)
y = pd.get_dummies(data=df['state'])
display(X.head(),y.head())
print(X.shape)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier

#cls = OneVsRestClassifier(LogisticRegression(solver="lbfgs"))
cls = OneVsRestClassifier(RandomForestClassifier(n_estimators=20))
scores = cross_val_score(cls, X, y, cv=5)
print(scores)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

## Conclusions

### 1. Is your dataset balanced?

### 2. What is the balance between classes?

from sklearn.metrics import balanced_accuracy_score
score = balanced_accuracy_score(actual_values, predictions)
from sklearn.metrics import accuracy_score
score = accuracy_score(actual_values, predictions)

### 3. Give metrics

#### Precision

#### Recall

#### F1Score

#### ROC Curve

#### AUC

#### Confusion Matrix